/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
composer.phar

/web/images/*
!/web/images/general
!/web/images/home-slider
!/web/images/technos
!/web/images/profils/default.png
!/web/images/projects/default.png

