/*******************************************************************************
* General 
*******************************************************************************/
* {
	/*text-align: left;
    vertical-align: middle;
    text-indent: 0em;*/
	background-color: rgba(0,0,0,0);
	text-decoration: none;
	list-style-type: none;
	font-size: 1em;
	font-family: sans-serif;
	/* font-weight: normal; */
	margin: 0em;
	/* padding: 0em; */
	/*list-style-type: none;
	height: auto;
	width: auto;
	border: 0px solid rgba(0,0,0, 1);
	word-wrap: break-word;*/
	}
p {
	text-align: justify;
    text-justify: inter-word;
    line-height: 1.5em;}
textarea {
	flex-grow: 1;
	resize: vertical;}
.button, input, textarea, select {
	border: 1px solid rgba(0,0,0, 0.15);
	background: rgba(255,255,255, 0.2);
	margin: 0.1em;}
.button:hover, input:hover, textarea:hover, select:hover {
	
    background-color: rgba(0,0,0, 0.025);}
.button, input[type="submit"] {
	text-align:center;
	cursor: pointer;}
.button * {
	cursor: pointer;}

.spacer {
	flex-grow:1;}
h1 {
	font-weight: 300;
	font-size: 1.3em;
	padding: 1em 0em;
	border-bottom: dotted rgba(0,0,255, 0.2);
	margin-bottom: 1em;}
h2 {
	font-weight: 300;
	font-size: 1.5em;
	padding: 1em 0em 0em 0em;
	border-bottom: solid #58B884;
	border-radius: 2px;
	margin-bottom: 1em;
	flex-grow: 0;
	flex-shrink:1;
	display: inline-block;
	}

p {
	font-weight: 300;
	font-size: 1em;
	padding: 0.5em 0em;
	text-indent: 2em;
	}

/*******************************************************************************
* Header 
*******************************************************************************/
header {
	background: rgba(255,255,255, 0.90);
	position: fixed;
	display: block;
	width: 100%;
	/* height: 91px; */
	z-index: 2;
	}
/*******************************************************************************
* Footer 
*******************************************************************************/
body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	min-height: 100vh;
	background: #f6f6f6;
	}
footer {
	background-color: #3E67A4;
	color: #eeeeee;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	}
footer * {
	margin: 0em 1em;
	align-self: center;}
footer a {
	padding:0.5em;
	text-align: center;
	border: 2px solid #EFEFEF;
	background: #EEEEEE;
	border-radius: 5px;
	color: #444444;
	}
footer a:hover {
	background:rgba(0,0,0, 0.1);}

footer p {
	padding: 0;
	font-size: 0.8em;
	text-align: center;}
	
#banner {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
	}
/*******************************************************************************
* Members 
*******************************************************************************/
#members {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}
.members{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;}
.member{
	height: auto;
	width: auto;
	display: flex;
	margin: 1em 2em;
	flex-grow: 1;}
.member * {
	flex-grow: auto;
	margin-top: .55em;
	margin-left: .2em;
	}
.member img {
	flex-grow: auto;
    width: 4em;
    height: 4em;
    margin: 0.5em;
    border-radius: 50%;
	flex-grow: auto;
	width:auto;
	border: 4px  solid rgba(0,0,0, 0.3);}
.member img:hover {
	border: 4px solid rgba(0,0,128, 0.3);}}
.member * {
	flex-grow: auto;}
.member h3 {
	font-size: 1.02em;
	color: #3E67A4;
	}
/*******************************************************************************
* Nav 
*******************************************************************************/
#main-nav ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	align-items: center}
#main-nav{
	height: 5em;
	}
#main-nav img{
	height: 5em;}

#main-nav a {
	font-size: 1.2em;
	padding: 0.5em;
	margin: 0em 0.2em;
	color: rgba(0,50,128, 0.5)}
#main-nav a:hover {
	color: rgba(0,50,128, 0.75)}
/*******************************************************************************
* Main 
*******************************************************************************/
#main {
	flex-grow:1;
	width: 100%;
	align-self: center;
	display: flex;
	flex-direction: column;}
#innerMain {
	max-width: 80em;
	align-self: center;
	width: 100%;}
#innerMain > * {
	margin: 2em 1em;}
#innerMain > *:first-child {
	margin-top: 0em;}

/*******************************************************************************
* Team 
*******************************************************************************/
.member {
	width: 16em;}
/*******************************************************************************
* Cascading 
*******************************************************************************/
#cascading {
    position: relative;
    height: 10em;
    background-image: url("/images/home-slider/pic4.jpg");
    background-attachment: fixed; }
#cascading h1 {
	color: white;
	text-align: center;
	line-height: 8;
	letter-spacing: 1em;
	opacity: 0;
	border: 0px solid rgba(0,0,0, 1);}
/*******************************************************************************
* competencies 
*******************************************************************************/
#competencies > p {
	margin-bottom: 1em;}
#competencies img {
	width: 10em;}
#competencies ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;}
#competencies ul > * {
	align-self: center;}
#competencies ul li{
	/*cursor: pointer;*/}
#competencies ul li p {
	text-align:center;
	border-bottom: 2px solid rgba(0,0,0, 0);}
#competencies ul li:hover p {
	border-bottom: 2px solid rgba(0,0,0, 0.4);
    transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out;
    -moz-transition: border-color .5s ease-in-out;}

